# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
.env

# Model Files
*.pt
*.pth

# Vector Databases
*.faiss
*.pkl

# IDE
.vscode/
.idea/

# Temporary files
tempCodeRunnerFile.py

# OS files
.DS_Store
Thumbs.db
models/
vector_db/
models/checkpoint_best.pt
models/sam_vit_b.pt
models/yolov8n.pt
